
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<div>
    <header class="intro-header" style="background-image: url('img/laptop-camera-notebook-1170x450.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Blog Log</h1>
                        <hr class="small">

                        <div id="custom-search-input">
                            <div class="input-group col-md-12">
                                <input type="text" class="  search-query form-control" placeholder="Search"
                                       ng-model="query">
                            <span class="input-group-btn">
                                <button class="btn btn-danger" type="button"></button>
                            </span>
                            </div>
                        </div>

                        <span>
                            <button id="add_btn" type="button" class="btn btn-primary btn-lg outline"
                                    ng-click="show_form = !show_form">Add New Post
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container" ng-show="show_form">
        <div class="row student-add-form col-md-6 col-md-push-3" ng-controller="formController as fc">
            <h4>Add Entry</h4>

            <div class="form-group input-group">
                <span class="input-group-addon">
                </span>
                <input type="text" class="form-control" placeholder="User Name" ng-model="fc.entry.username">
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">
                </span>
                <input type="text" class="form-control" ng-model="fc.entry.title"
                       placeholder="Title">
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">
                </span>
                <textarea class="form-control" rows="10" placeholder="Body" ng-model="fc.entry.blog"></textarea>
            </div>
            <button class="btn btn-success" type="submit" ng-click="fc.call_add_entry()">Add</button>
            <button type="button" class="btn btn-danger">Reset</button>
            <button type="button" class="btn btn-default">Cancel</button>

        </div>
    </div>
</div>

<!-- Main Content -->
<div class="container">
    <div class="row" ng-controller="tableController as tc">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <!--<div class="post-preview">-->
            <!--<a href="post.html">-->
            <!--<h2 class="post-title">-->
            <!--Man must explore, and this is exploration at its greatest-->
            <!--</h2>-->
            <!--<h3 class="post-subtitle">-->
            <!--Problems look mighty small from 150 miles up-->
            <!--</h3>-->
            <!--</a>-->
            <!--<p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p>-->
            <!--</div>-->
            <div class="post-preview" ng-repeat="entry in tc.entry_arr | filter: query">
                <div class="hover_div" ng-click="tc.call_relay_link_data(entry)">
                    <h2 class="post-title">
                        {{ entry.title }}
                    </h2>

                    <h3 class="post-subtitle">
                        {{ entry.summary }}
                    </h3>
                </div>

                <p class="post-meta">Posted by <a href="#">{{ entry.username }}</a> on {{ entry.timestamp }}</p>

                <button id="update_btn" class="btn btn-info btn-xs" ng-click="show_update = !show_update">Update</button>
                <button id="delete_btn" class="btn btn-danger btn-xs" ng-click="tc.call_remove_entry(entry)">Delete</button>

                <div ng-show="show_update">
                    <h4>Update Entry</h4>

                    <div class="form-group input-group">
                        <span class="input-group-addon">
                        </span>
                        <input type="text" class="form-control" ng-model="tc.entry.title" placeholder="Title">
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon">
                        </span>
                        <textarea class="form-control" rows="10" ng-model="tc.entry.blog" placeholder="Body"></textarea>
                    </div>

                    <button class="btn btn-success" type="submit" ng-click="tc.call_update_entry(entry); show_update = !show_update">Update</button>
                    <button type="button" class="btn btn-default" ng-click="show_update = !show_update">Cancel</button>
                </div>

            </div>
            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="#">Older Posts &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<hr>